<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumit.IncomeTaxCalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Income Tax Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sumit.IncomeTaxCalculator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sumit.IncomeTaxCalculator.Main2Activity">
            <intent-filter>
                <action android:name="com.example.sumit.pswrdproject1.Main2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sumit.IncomeTaxCalculator.Main3Activity">
            <intent-filter>
                <action android:name="com.example.sumit.pswrdproject1.Main3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sumit.IncomeTaxCalculator.Tax.Main4Activity">
            <intent-filter>
                <action android:name="com.example.sumit.pswrdproject1.Main4Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>